extends layout

block content
  h1= title
  p Not welcome to #{title}
  a.button(type="button", class="btn btn-secondary", onclick='bumpCount()')
  div(id="Bump the count") #{count}


    script.
      var count = 0
      function bumpCount() {
        count++;
        document.getElementById("Bump the count").innerHTML = ("Count " + count + "with bump " + count)
      }